<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome! </p>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">Fine</button>
        <button type="button" class="btn btn-secondary">Sad</button>
        <button type="button" class="btn btn-secondary">Happy</button>
        <button type="button" class="btn btn-secondary">Mad</button>
    </div>
</div>

    
<a href="/users/logout" class="btn btn-secondary">Logout</a>